# Python Cache Files

__pycache__/
*.py[cod]
*$py.class

# Virtual Environment

venv/
env/
ENV/
.venv/

# Logs (IMPORTANT)

logs/
*.log
threat_logs.txt

# Databases (SQLite)

*.db
*.sqlite3
*.sqlite3-journal


# Flask / Environment files

instance/
.env

# IDE / Editor files

.vscode/
.idea/

# OS files

.DS_Store
Thumbs.db